:root {
  --fade-time: 0.5s;   /* 全体のフェード時間をここで調整 */
}
.fade {
  opacity: 0;
  transition: opacity var(--fade-time) ease-in-out;
}
.fade.show {
  opacity: 1;
}

.tools-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 20px auto;
  color: #fff;
  background-color: rgba(0, 255, 255, 0);
  font-family: "Roboto Mono", monospace;
}

.tools-top {
  display: flex;
  background-color: #ff00ff00;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  gap: 20px;
}

.tools-left {
  display: flex;
  background-color: #00bfff00;
  flex-direction: column;
  width: 45%;
  min-height: 400px;
}

.tools-right {
  display: flex;
  background-color: #00bfff00;
  flex-direction: column;
  width: 55%;
  min-height: 300px;
}

.tools-bottom {
  display: flex;
  background-color: #ff00ff00;
  margin: 30px 10px;
  padding: 10px;
  justify-content: space-between;
  flex-direction: column;
}

.gradient-box {
  height: 200px;
  margin: 10px;
  padding: 20px;
  border: 2px solid;
  border-radius: 50%;
  border-image: linear-gradient(90deg, #00bfff, #ff00ff) 1;  
  background-color: rgba(0,0,0,0.6);
}

.gradient-box h3 {
  color: #fcfcfca9;
  margin-bottom: 10px;
}

.tool-art {
  width: auto;
  height: 520px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 6px 0;
  transition: color 0.3s;
}

li:hover {
  color: #ff00ff;
}

li.active {
  color: #00bfff;
  font-weight: bold;
}

.instruction {
  min-height: 250px;    
  height: auto; 
  margin-top: 30px;
  padding: 20px;
  border: 2px solid;
  border-image: linear-gradient(90deg, #00bfff, #ff00ff) 1;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.6);
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  line-height: 1.8;        
  overflow: visible;     
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

.instruction .gradient-box {
  height: auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid;
  border-image: linear-gradient(90deg, #00bfff, #ff00ff) 1;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.6);
}
.instruction h3 {
  color: #00bfff;
  margin-bottom: 10px;
}


#instruction-text {
  font-size: 16px;
  line-height: 1.8;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
}