.about-container {
  width: 100%;
  margin: auto;
  color: #fbfbfb;
  font-family: "Consolas", "Roboto Mono", monospace;
}

.subheading {
  position: relative;
  font-size: 20px;
  margin-bottom: 50px;
}

/* 白い長い下線 */
.subheading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;          /* 見出しとの間隔調整 */
  width: 100%;          /* 線の長さ（必要に応じて調整） */
  height: 2px;           /* 線の太さ */
  background-color: #ffffff;
  opacity: 0.9;
}


/* 上段：プロフィール */
.prof-box {
  display: flex;
  width: 90%;
  margin-bottom: 40px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #00bfff00;
}

.prof-left {
  text-align: center;
}
.prof-right {
  width: 80%;
  background-color: #ff66cc00;
}


.prof-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.prof-circle {
  width: 256px;
  height: 256px;
  border-radius: 50%;
  border: 6px solid;
  background-color: #06151a00;
  border-color: rgb(212, 211, 211);
  overflow: hidden;
  margin: auto;
}

.prof-circle img {
  width: 256px;
  height: 256px;
  object-fit: cover;
}


/* 中段：Contact */
.contact-box {
  width: 90%;
  margin-bottom: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form textarea {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  border: 1px solid #00bfff;
  border-radius: 8px;
  padding: 10px;
}

.contact-form button {
  width: 120px;
  padding: 8px;
  background: linear-gradient(135deg, #ff66cc, #00bfff);
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

/* 下段：Other Link */
.link-box {
  width: 90%;
  margin-bottom: 50px;
}

.link-icons {
  display: flex;
  width: auto;
  margin: 10px;
  padding: 20px;
  justify-content: center;
  gap: 40px;
  background-color: #00bfff00;
}

.link-icons img {
  width: 128px;
  height: 128px;
  transition: transform 0.3s ease;
}

.link-icons img:hover {
  transform: scale(1.1);
}

/* 利用規約 */
.policy-box {
  width: 90%;
  border-radius: 12px;
  padding: 30px;
  margin: 20px;
  line-height: 1.6;
  font-size: 14px;
  background-color: rgba(10,10,10,0.7);
}
