<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/custom.css">
</head>

<body>

  <!-- 背景画像 -->
  <div class="bg"></div>

  <!-- 右側メニュー -->
  <nav class="menu-right">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/diary/">Diaries</a></li>
      <li><a href="/tools/">Tools</a></li>
      <li><a href="/reports/">Reports</a></li>
      <li><a href="/relax/">Relax</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>

  <!-- 本文（左側） -->
  <main class="content">
    {{ block "main" . }}{{ end }}
  </main>

  <div id="custom-button">custom</div>
  <div id="indicator-menu" class="hidden">
    <div class="indicator-option" data-id="1">1. Neon Flow Bar</div>
    <div class="indicator-option" data-id="2">2. Neon Dots</div>
    <div class="indicator-option" data-id="3">3. Top Progress Bar</div>
    <div class="indicator-option" data-id="4">4. Neon Ring</div>
    <div class="indicator-option" data-id="5">5. Background Neon Lines</div>
  </div>

  <!-- 右下フッター -->
  <footer class="footer">
    ©2026 AKNOWD
  </footer>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/update-logs.js"></script>
<script src="/js/animation-switch.js"></script>
<script src="/js/indicator.js"></script>
<script src="/js/timeswitch.js"></script>

</body>
</html>
